<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<style>
body {
  background-color: lightblue;
}
h1,h3 {
  color: black;
  text-align: center;
}
a {
  font-size: 30px;
  color: black;
}
</style>
</head>
<meta charset="utf-8">
<h1>Steganography</h1>
<body>

<div><img src="{{ url_for('static', filename='stegano_encrypted.png') }}" alt="Azure Logo" width="1400" height="492"/>
</div>
<div style="text-align: center"><a href="{{ url_for('login') }}">Login
</a></div>
<h3>To upload file</h3>
</body>
</html>